In [ ]:
import datetime

In [ ]:
tijdstip = datetime.datetime(1, 2, 28, 22, 40)

In [ ]:
tijdstip.strftime("The date %Y-%m-%d was a %A and it was very good weather at %H:%M")

In [ ]:
tijdstip

In [ ]:
import astropy

In [ ]:
now_datetime = datetime.datetime.now()
now_datetime.strftime("Het is nu %A")

In [ ]:
datetime.datetime.today()

In [ ]:
tomorrow = datetime.datetime.now() + datetime.timedelta(days = 1, hours = 2)
print(tomorrow.strftime("Tomorrow it will be %A, %HHOPPELDEPOPPELDE%M"))

In [ ]:
f"Tomorrow it will be {tomorrow.strftime('%A')}"

In [ ]:
today = datetime.datetime.today()
tomorrow = today + datetime.timedelta(days = 5)

In [ ]:
today = datetime.datetime.today()
today_in_20_days = today + datetime.timedelta(days = 60)

print(today_in_20_days - today)

In [ ]:
today

In [ ]:
from datetime import datetime

# Define summertime and wintertime dates
summertime_date = datetime(2023, 6, 21)  # For example, June 21st
wintertime_date = datetime(2023, 12, 21)  # For example, December 21st

# Calculate the time difference
time_difference = wintertime_date - summertime_date

# Convert the time difference to days, seconds, or other units as needed
days_difference = time_difference.days
seconds_difference = time_difference.total_seconds()

print(f"Time difference between summertime and wintertime: {days_difference} days or {seconds_difference} seconds")

In [ ]:
import pytz

In [ ]:
now = utc.localize(datetime.datetime.utcnow())

In [ ]:
date_now = datetime.today()
date_now.strftime("!%Y|_|%m|_|%d!")

In [6]:
date_given_str = input("Geef een datum in d-m-Y")
date_given = datetime.datetime.strptime(date_given_str, '%d-%m-%Y')
print(date_given.strftime('%Y-%m-%d'))

Geef een datum in d-m-Y12-12-2012
2012-12-12

In [32]:
date_formats = ['%d-%m-%Y', '%d/%m/%Y']
date_input = '12/12/2012'
found_it = False

for n, date_format in enumerate(date_formats):
    try:
        date_obj = datetime.datetime.strptime(date_input, date_formats[n])
        found_it = True
        break
    except ValueError as naampje:
        print(naampje)
    finally:
        pass
        
found_it

time data '12/12/2012' does not match format '%d-%m-%Y'

True

In [29]:
datetime.datetime.strptime(date_input, '%Y')

ValueError: time data '12/12/2012' does not match format '%Y'

In [33]:
import time

In [40]:
time.time()

1697548173.1192575

In [41]:
datetime.datetime.now()

datetime.datetime(2023, 10, 17, 15, 9, 33, 331835)

In [42]:
import time
import datetime

## Method 1 : all in seconds

In [56]:
today = datetime.datetime.now()
start = datetime.datetime(1970, 1, 1, 2)
datetime_delta_seconds = (today - start).total_seconds()

time_seconds = time.time()

print(datetime_delta_seconds - time_seconds)

-0.0003571510314941406

## Method 2: all to dates

In [57]:
today = datetime.datetime.now()
start = datetime.datetime(1970, 1, 1, 2)
today_time = start + datetime.timedelta(seconds = time.time())

In [58]:
today_time - today

datetime.timedelta(microseconds=1)

In [67]:
def fun(x):
    """
    Dit is een docstring
    """
    return x**2

In [68]:
fun?

In [78]:
def calculate_mean(numbers : list) -> float:
    sum_num = sum(numbers)
    average = sum_num / len(numbers)
    return average

scores = [1, 2, 3]
average_score = calculate_mean(scores)
print(average_score)

2.0

In [79]:
calculate_mean?

In [75]:
sum_num

NameError: name 'sum_num' is not defined

In [92]:
def fun(age, name):
    print(f"age: {age} | name: {name}")
    return 1, 2, 3
    
a, b, c = fun(16, name = "Tim")

age: 16 | name: Tim

In [97]:
lst = [1, 2, 3]

def fun(qq):
    qq[1] = 100
    return

In [98]:
print(lst)
fun(lst)
print(lst)

[1, 2, 3]
[1, 100, 3]

In [95]:
c

3

In [105]:
def fun(a, b, c, *qw):
    print(type(qw))
    
fun(1,2,3,12,324,124,214,421,12,412,124,41,24)

<class 'tuple'>

In [9]:
from icecream import ic

def eat_an_apple(num_apples):
    """
    Dit is een docstring die uitleg geeft over de functie eat_an_apple
    """
    if num_apples <= 0:
        print("No apples left!")
        return num_apples
    num_apples -= 1
    return num_apples

num_apples = 5
for i in range(10):
    ic(num_apples)
    num_apples = ic(eat_an_apple(num_apples))

ic| num_apples: 5
ic| eat_an_apple(num_apples): 4
ic| num_apples: 4
ic| eat_an_apple(num_apples): 3
ic| num_apples: 3
ic| eat_an_apple(num_apples): 2
ic| num_apples: 2
ic| eat_an_apple(num_apples): 1
ic| num_apples: 1
ic| eat_an_apple(num_apples): 0
ic| num_apples: 0
ic| eat_an_apple(num_apples): 0
ic| num_apples: 0
ic| eat_an_apple(num_apples): 0
ic| num_apples: 0
ic| eat_an_apple(num_apples): 0
ic| num_apples: 0
ic| eat_an_apple(num_apples): 0
ic| num_apples: 0
ic| eat_an_apple(num_apples): 0

No apples left!
No apples left!
No apples left!
No apples left!
No apples left!

In [10]:
num_apples?

In [12]:
import math

In [18]:
import numpy as np
np.round??

In [19]:
len??

In [20]:
x = 1
x = 'paard'

In [21]:
type(x)

str

In [22]:
student_name = "Tim"

In [23]:
PI = 3.1415
PLANCK = 1.24632183 * 10 ** (-18)
RED = (235, 10, 3)

In [29]:
sum([1,2,3])

6

In [25]:
sum = 1 + 2

In [28]:
# Correct:
# easy to match operators with operands
income = (gross_wages +
          taxable_interest +
          (dividends - qualified_dividends) -
          ira_deduction -
          student_loan_interest)

In [46]:
(13 % 4)

True

In [61]:
this_very_long_variable += 1

In [68]:
naam = "Jeffrey"
age = 99
print(f"Hallo, {naam}, proficiat met je {age} leeftijd!")

Hallo, Jeffrey, proficiat met je 99 leeftijd!

In [73]:
eps = 10 ** (-8)

if np.abs(0.1 + 0.1 + 0.1001 - 0.3) > eps:
    print("Niet gelijk!")

Niet gelijk!

In [72]:
np.abs(0.1 + 0.1 + 0.1 - 0.3)

5.551115123125783e-17

In [74]:
(1 == 1) and (2 == 2) and not (3 == 2 or 5 == 5)

False

In [75]:
1 in [1,2,3]

True

In [78]:
'bc' in 'abc'

True

In [83]:
x = int(input("Dit neemt input aan"))

Dit neemt input aan7

In [85]:
x

7

In [86]:
teller = int(input("Geef teller"))
noemer = int(input("Geef noemer"))

int_deling = teller // noemer
rest = teller % noemer

print(f"{teller} = {int_deling} * {noemer} + {rest}")

Geef teller123
Geef noemer7
123 = 17 * 7 + 4

In [87]:
17*7+4

123

In [92]:
x = 0
if x > 0:
    print('pos')
elif x < 0:
    print('neg')
else:
    print('tis 0!')

tis 0!

In [93]:
u = ("even" if x % 2 == 0 else "odd")

if x % 2 == 0:
    u = "even"
else:
    u = "odd"

In [94]:
leeftijd = int(input("Leeftijd?\n"))
if leeftijd <= 18:
    print("Minderjarig")
elif leeftijd <= 64:
    print("Meerderjarig")
else:
    print("Senior")

Leeftijd?
65
Senior

In [95]:
cijfer = int(input("Cijfer?"))
if cijfer < 50:
    print("N")
elif cijfer < 60:
    print("D")
elif cijfer < 70:
    print("C")
elif cijfer < 80:
    print("B")
else:
    print("A")

Cijfer?77
B

In [96]:
weekdays = {
    1 : 'maandag',
    2 : 'dinsdag',
    3 : 'woensdag',
    4 : 'donderdag',
    5 : 'vrijdag',
    6 : 'zaterdag',
    7 : 'zondag'
}

In [102]:
weekdays[5]

'vrijdag'

In [103]:
letter = input("Geef een letter\n")
print(f"{'Kleine ' if letter.islower() else 'Hoofd'}letter")

Geef een letter
a
Kleine letter

In [104]:
letter.

In [106]:
ihsdfbsdhufuos = 'a'

In [109]:
lol = r"dit\nis\neen\nstring"
print(lol)

dit\nis\neen\nstring

In [123]:
a = list(range(1, 100, 12))

In [137]:
a[-3:2:2]

[]

In [141]:
a

[10, 13, 25, 37, 49, 61, 73, 85, 97]

In [142]:
t = (1,2,3)

In [145]:
lijst = [1,5,2,3,9,2]

In [149]:
lijst.sort()

In [163]:
lijst

[1, 2, 2, 5, 1]

In [164]:
a = [1,2,3]

In [169]:
lijst.append(lijst)

In [173]:
a = [1,2]
a.extend(a)

In [174]:
a

[1, 2, 1, 2]

In [178]:
set([x**2 for x in range(10) if x % 2 == 0])

{0, 4, 16, 36, 64}

In [ ]:
lijst = list()
for x in range(10):
    if x % 2 == 0:
        lijst.append(x**2)

In [181]:
testdict = {'appel' : 1, 
                'banaan' : 2, 
                'mango' : 5}

In [182]:
testdict['peer'] = 1

In [187]:
for key in testdict:
    print(key, testdict[key])

appel 1
banaan 2
mango 5
peer 1

In [190]:
{x : x**2 for x in [1,2,1]}

{1: 1, 2: 4}

In [191]:
testdict['mango'] = 'p'

In [192]:
testdict

{'appel': 1, 'banaan': 2, 'mango': 'p', 'peer': 1}

In [201]:
info = dict()
info[('appel', 'Jumbo')] = {'prijs' : 1.23, 'kleur' : 'rood'}
info[('appel', 'Delhaize')] = {'prijs' : 1.33, 'kleur' : 'groen'}

In [199]:
info

{('appel', 'Jumbo'): {'prijs': 1.23, 'kleur': 'rood'},
 ('appel', 'Delhaize'): {'prijs': 1.33, 'kleur': 'groen'}}