In [2]:
import sqlite3

# Connect to the Database
conn = sqlite3.connect("library.db")

# Create a Cursor
cursor = conn.cursor()

# Create Tables
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Authors (
        AuthorID INTEGER PRIMARY KEY,
        FirstName TEXT,
        LastName TEXT
    )
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Books (
        BookID INTEGER PRIMARY KEY,
        Title TEXT,
        AuthorID INTEGER,
        FOREIGN KEY (AuthorID) REFERENCES Authors (AuthorID)
    )
''')

# Insert Data
cursor.execute("INSERT INTO Authors (FirstName, LastName) VALUES (?, ?)", ("John", "Doe"))
cursor.execute("INSERT INTO Authors (FirstName, LastName) VALUES (?, ?)", ("Jane", "Smith"))

cursor.execute("INSERT INTO Books (Title, AuthorID) VALUES (?, ?)", ("The Great Gatsby", 1))
cursor.execute("INSERT INTO Books (Title, AuthorID) VALUES (?, ?)", ("To Kill a Mockingbird", 2))

# Commit Changes
conn.commit()

# Close the Connection
conn.close()