# Python basics

This notebook contains the Syntax accompanying Chapter 4: Python basics in the book Practical Business Python.

## Variables

#### Basic

In [52]:
# Assign a value to the variable message
message = "Hello, world!"

# Use this variable to print the statement.
print(message)

Hello, world!

#### Dynamic typing

In [53]:
number = 42 # an integer
pi = 3.14 # a floating-point number
is_true = True # a boolean value

# Change the value and type of the variable message
message = "Hello, world!"
print(type(message))
message = 42
print(type(message))

<class 'str'>
<class 'int'>

#### Getting help

In [54]:
number = 1
number?

In [55]:
print?

In [56]:
print??

#### Meaningful names

In [57]:
# Good example
student_name = "John Doe"

# Avoid generic names
x = "John Doe"

#### Use snake case for naming variables

In [58]:
# Good example
my_variable = 42

# Avoid camel case or spaces
myVariable = 42 # Should be avoided
MyVariable = 42 # Should be avoided
My_Variable = 42 # Should be avoided

In [59]:
my variable = 42 # This doesn't work

SyntaxError: invalid syntax (289978165.py, line 1)

#### Use all caps with underscores for constants

In [60]:
# Good example
MAX_VALUE = 100

# Avoid lowercase or spaces
MaxValue = 100
MAXVALUE = 100

In [61]:
MAX VALUE = 100

SyntaxError: invalid syntax (676053506.py, line 1)

#### Avoid using pre-defined functions

In [62]:
# Both these options will compute the sum (the first one is preferred)
total_sum = sum([1, 2, 3])
sum = 1 + 2 + 3 # This will overwrite the functionality of sum!

In [63]:
total_sum = sum([1, 2, 3]) # This doesn't work anymore because sum is now 6!

TypeError: 'int' object is not callable

In [64]:
# This can again be fixed by deleting sum!
del sum
total_sum = sum([1, 2, 3])

## Comments

In [65]:
# This is a comment.
# It provides additional information about the code.
result = 42 # Assigning a value to the variable 'result'
# The value 42 represents the ultimate answer.

# This section calculates the sum of two numbers
a = 10
b = 20
sum_ab = a + b # Computing the sum

#### Write meaningful comments explaining difficult logic

Bad example:

In [66]:
n = 10 # Define n

total_sum = 0 # Initialize the total sum
# let i range from 1 up to n (including n)
for i in range(1, n+1):
    # Add i to the total sum
    total_sum = total_sum + i 

# Validate that the total sum equals n * (n+1)/2
print(total_sum == n * (n + 1) / 2)

True

Fixed this example

In [67]:
# Validate for a chosen n that the 
# mathematical equality
# 1 + 2 + ... + n equals n * (n + 1) / 2 
# is satisfied.
n = 10

total_sum = 0
for i in range(1, n+1):
    total_sum = total_sum + i 

print(total_sum == n * (n + 1) / 2)

True

#### Extending a line of code over multiple lines

In [68]:
total = 10 + 20 +\
        30 + 40 +\
        50

In [69]:
message = """This is a long string that
spans multiple lines. It is
enclosed in triple quotes."""

print(message)

This is a long string that
spans multiple lines. It is
enclosed in triple quotes.

In [70]:
numbers = [1, 2, 3,
           4, 5, 6]

In [71]:
result = (10 + 20 + 30 +
            40 + 50 + 60)

#### Basic Python types

In [72]:
# Numeric types
print(type(42))
print(type(42.))
print(type(2 + 3j))

<class 'int'>
<class 'float'>
<class 'complex'>

In [73]:
# Boolean type
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [74]:
# Sequence types
print(type("Hey"))
print(type([1, 2]))
print(type((1,2)))
print(type(range(1,10)))
print(type({"apple", 
                "banana", 
                "orange"}))
print(type(frozenset({"apple", 
                          "banana", 
                          "orange"})))
print(type({"name" : "John Doe",
               "age" : 25}))

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'set'>
<class 'frozenset'>
<class 'dict'>

#### Basic arithmetic

In [75]:
# Addition
x = 5
y = 3
result = x + y # Output: 8
print(result)

8

In [76]:
# Subtraction
x = 7
y = 2
result = x - y # Output: 5
print(result)

5

In [77]:
# Multiplication
x = 4
y = 3
result = x * y # Output: 12
print(result)

12

In [78]:
# Division
x = 10
y = 3
result = x / y # Output: 3.3333333333333335
print(result)

3.3333333333333335

In [79]:
# Integer division
x = 10
y = 3
result = x // y # Output: 3
print(result)

3

In [80]:
# Modulus
x = 10
y = 3
result = x % y # Output: 1
print(result)

1

In [81]:
guests = ['Tim', 'Tom', 'Jerry', 'Filip']
num_guests = len(guests)
for n, guest in enumerate(guests):
    left_nb = guests[(n-1) % num_guests]
    right_nb = guests[(n+1) % num_guests]
    print(f"{guest} sits next to {left_nb} and {right_nb}")

Tim sits next to Filip and Tom
Tom sits next to Tim and Jerry
Jerry sits next to Tom and Filip
Filip sits next to Jerry and Tim

In [82]:
x = 3.5
y = 1.2
result = x + y
print(result)

4.7

## Comparison operators

#### Basic usage

In [83]:
x = 5
y = 3
print(x == y)
print(x > y)
print(x <= y)

False
True
False

#### Beware when comparing floats

In [84]:
x = 0.1 + 0.1 + 0.1
y = 0.3

print(x == y)

False

In [85]:
print(x)

0.30000000000000004

In [86]:
print(y)

0.3

In [87]:
print(x-y)

5.551115123125783e-17

In [88]:
# Using an error tolerance
x = 0.1 + 0.1 + 0.1
y = 0.3
epsilon = 1e-9

print(abs(x - y) < epsilon)  # Output: True

True

## Assignment operator

In [89]:
x = 1
x = x + 1
print(x)

2

## Conditional statements

#### Basic usage

In [93]:

x = 5

if x > 0:
    print("x is positive")
elif x < 0:
    print("x is negative")
else:
    print("x is zero")

x is positive

In [95]:
x = 10
y = 5

if (x > 0) and (y > 0):
    print("Both x and y are positive")
elif (x > 0) or (y > 0):
    print("Either x or y is positive")
else:
    print("Neither x nor y is positive")

Both x and y are positive

#### Make use of parantheses!

In [100]:
x = 5
y = -10

if x > 0 and y > 0 or x > y:
    print("Condition met")
else:
    print("Condition not met")

Condition met

In [99]:
x = 5
y = -10

if ((x > 0) and (y > 0)) or (x > y):
    print("Condition met")
else:
    print("Condition not met")

Condition met

## While loop

In [1]:
count = 0
while count < 5:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [2]:
count = 0
while True:
    print("Count:", count)
    count += 1
    if count == 3:
        break

Count: 0
Count: 1
Count: 2

In [3]:
count = 0
while count < 5:
    count += 1
    if count == 3:
        continue
    print("Count:", count)

Count: 1
Count: 2
Count: 4
Count: 5

## For loops

In [5]:
# Using a for loop
print("For loop")
for i in range(5):
    print(i)

print("While loop")
# Using a while loop
count = 0
while count < 5:
    print(count)
    count += 1

For loop
0
1
2
3
4
While loop
0
1
2
3
4

#### For-else loop

In [6]:
for i in range(5):
    print(i)
else:
    print("Loop completed successfully.")

0
1
2
3
4
Loop completed successfully.

In [7]:
for i in range(5):
    print(i)
    if i == 4:
        break
else:
    print("Loop completed successfully.")

0
1
2
3
4

In [8]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [9]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
for name, age in zip(names, ages):
    print(name, age)

Alice 25
Bob 30
Charlie 35

In [10]:
for i in range(5):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [14]:
import time

start_time = time.time()

for i in range(10**7):
    i**2
end_time = time.time()
execution_time = end_time - start_time
print("Execution time:", execution_time, "seconds")

Execution time: 3.7323734760284424 seconds

In [15]:
import timeit

def my_function():
    for i in range(10**7):
            i**2

execution_time = timeit.timeit(my_function, number=5)

## Strings

In [18]:
text = "This is a string with a newline \n and a tab \t, and this is a double quote: \""
print(text)

This is a string with a newline
 and a tab 	, and this is a double quote: "

In [19]:
message = "Hello, World!"
print(message)

Hello, World!

In [25]:
import sqlite3
import pandas as pd

# SQL query as a string
query = "SELECT * FROM customers"

# Connect to the database and execute the query
conn = sqlite3.connect("chinook.db")

# Use Pandas to read the data into a DataFrame
df = pd.read_sql_query(query, conn)

# Display the DataFrame
display(df)

# Close the database connection
conn.close()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
11,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,13,Fernanda,Ramos,None,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
17,18,Michelle,Brooks,None,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
19,20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4
20,21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5
21,22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4
22,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4
23,24,Frank,Ralston,None,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,None,fralston@gmail.com,3
24,25,Victor,Stevens,None,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,None,vstevens@yahoo.com,5
25,26,Richard,Cunningham,None,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,None,ricunningham@hotmail.com,4
26,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4
27,28,Julia,Barnett,None,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,None,jubarnett@gmail.com,5
28,29,Robert,Brown,None,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,None,robbrown@shaw.ca,3
29,30,Edward,Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3
30,31,Martha,Silk,None,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,None,marthasilk@gmail.com,5
31,32,Aaron,Mitchell,None,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca,4
32,33,Ellie,Sullivan,None,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca,3
33,34,João,Fernandes,None,Rua da Assunção 53,Lisbon,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4
34,35,Madalena,Sampaio,None,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4
35,36,Hannah,Schneider,None,Tauentzienstraße 8,Berlin,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5
36,37,Fynn,Zimmermann,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
37,38,Niklas,Schröder,None,Barbarossastraße 19,Berlin,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3
38,39,Camille,Bernard,None,"4, Rue Milton",Paris,None,France,75009,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr,4
39,40,Dominique,Lefebvre,None,"8, Rue Hanovre",Paris,None,France,75002,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com,4
40,41,Marc,Dubois,None,"11, Place Bellecour",Lyon,None,France,69002,+33 04 78 30 30 30,None,marc.dubois@hotmail.com,5
41,42,Wyatt,Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3
42,43,Isabelle,Mercier,None,"68, Rue Jouvence",Dijon,None,France,21000,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr,3
43,44,Terhi,Hämäläinen,None,Porthaninkatu 9,Helsinki,None,Finland,00530,+358 09 870 2000,None,terhi.hamalainen@apple.fi,3
44,45,Ladislav,Kovács,None,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,None,None,ladislav_kovacs@apple.hu,3
45,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3
46,47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5
47,48,Johannes,Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5
48,49,Stanisław,Wójcik,None,Ordynacka 10,Warsaw,None,Poland,00-358,+48 22 828 37 39,None,stanisław.wójcik@wp.pl,4
49,50,Enrique,Muñoz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5
50,51,Joakim,Johansson,None,Celsiusg. 9,Stockholm,None,Sweden,11230,+46 08-651 52 52,None,joakim.johansson@yahoo.se,5
51,52,Emma,Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3
52,53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3
53,54,Steve,Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5
54,55,Mark,Taylor,None,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4
55,56,Diego,Gutiérrez,None,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4
56,57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5
57,58,Manoj,Pareek,None,"12,Community Centre",Delhi,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3
58,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3

In [26]:
def divide_numbers(a, b):
    if b == 0:
        error_message = "Error: Division by zero!"
        print(error_message)
    else:
        result = a / b
        print("Result:", result)
    return a/b
divide_numbers(10, 0)

Error: Division by zero!

ZeroDivisionError: division by zero

#### Formatted strings

In [27]:
name = "Tim"
age = 30
message = f"My name is {name} and I am {age} years old."
print(message) 
# Output: "My name is Tim and I am 30 years old."

My name is Tim and I am 30 years old.

In [28]:
x = 5
y = 3
result = f"The sum of {x} and {y} is {x + y}."
print(result) # Output: "The sum of 5 and 3 is 8."

The sum of 5 and 3 is 8.

In [30]:
pi = 3.14159265
print(f"The value of pi is approximately {pi:.2f}.")
# Output: "The value of pi is approximately 3.14."

The value of pi is approximately 3.14.

In [31]:
fruits = ["apple", "banana", "orange"]
numbers = [1, 2, 3, 4, 5]
mixed_list = ["apple", 1, True, 3.14]

In [32]:
# Squares of numbers from 1 to 5
squares = [x**2 for x in range(1, 6)]
print(squares) # Output: [1, 4, 9, 16, 25]

# Select even numbers from a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers) # Output: [2, 4, 6, 8, 10]

# Extract the first letter of each word 
# in a list of strings
words = ["apple", "banana", "orange"]
first_letters = [word[0] for word in words]
print(first_letters) # Output: ['a', 'b', 'o']

[1, 4, 9, 16, 25]
[2, 4, 6, 8, 10]
['a', 'b', 'o']

In [33]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list) # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [34]:
my_list = [1, 2, 3, 4]
last_element = my_list.pop()
print(last_element) # Output: 4
print(my_list) # Output: [1, 2, 3]

4
[1, 2, 3]

In [35]:
my_list = [4, 2, 1, 3]
my_list.sort()
print(my_list) # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [36]:
my_list = [4, 2, 1, 3]
sorted_list = sorted(my_list)
print(sorted_list) # Output: [1, 2, 3, 4]
print(my_list) # Output: [4, 2, 1, 3]

[1, 2, 3, 4]
[4, 2, 1, 3]

In [38]:
my_list = [10, 20, 30, 40, 50]
print(my_list[2])
print(my_list[-1])
print(my_list[-3:])
print(my_list[::-1])
print(my_list[1::2])

30
50
[30, 40, 50]
[50, 40, 30, 20, 10]
[20, 40]

## Sets

In [39]:
numbers = {1, 2, 3, 4, 5}
fruits = {"apple", "banana", "orange"}
print(numbers)
print(fruits)

In [40]:
numbers = [1, 2, 2, 3, 3, 4, 5, 5]
unique_numbers = set(numbers)
print(unique_numbers) # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [41]:
numbers = [1, 2, 2, 3, 3, 4, 5, 5]
unique_numbers = list(set(numbers))
print(unique_numbers) # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [42]:
# Customer IDs who bought product A
product_a_customers = {101, 102, 103, 104, 105}

# Customer IDs who bought product B
product_b_customers = {102, 105, 106, 107, 108}

# Customers who bought both products (Intersection)
common_customers = product_a_customers.intersection(product_b_customers)

# Printing the result
print("Customers who bought both products:", common_customers)

Customers who bought both products: {105, 102}

## Dictionaries

In [44]:
my_dict = {"name": "John", "age": 30,\
               "city": "New York"}

In [45]:
print(my_dict["name"])

John

In [46]:
my_dict["age"] = 31
print(my_dict["age"]) # Output: 31

31

In [49]:
for key, value in my_dict.items():
    print(f"{key} : {value}")

name : John
age : 31
city : New York

In [50]:
squares = {x: x**2 for x in range(1, 6)}
print(squares) # Output: {1: 1, 2: 4, 3: 9, 4: 16}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [51]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = {x: x**2 for x in numbers if x % 2 == 0}
print(even_numbers) 
# Output: {2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

## range type

In [53]:
# Example 1: Using range(stop)
for i in range(5):
    print(i) # Prints numbers 0 to 4

0
1
2
3
4

In [54]:
# Example 2: Using range(start, stop)
for i in range(1, 6):
    print(i) # Prints numbers 1 to 5

1
2
3
4
5

In [55]:
# Example 3: Using range(start, stop, step)
for i in range(0, 10, 2):
    print(i) # Prints even numbers from 0 to 8

0
2
4
6
8

## Datetime objects

In [61]:
import datetime

year = 1993
month = 7
day = 12

hour = 22
minute = 40
second = 0
microsecond = 0

# Creating a date object
date_obj = datetime.date(year, month, day)

# Creating a time object
time_obj = datetime.time(hour, minute, second, microsecond)

# Creating a datetime object
datetime_obj = datetime.datetime(year, 
                                     month, 
                                     day, 
                                     hour, 
                                     minute, 
                                     second, 
                                     microsecond)

print(date_obj)
print(time_obj)
print(datetime_obj)

1993-07-12
22:40:00
1993-07-12 22:40:00

In [62]:
current_datetime = datetime.datetime.today()
print(current_datetime)

2023-09-14 09:06:03.739105

In [69]:
datetime_string = datetime_obj.strftime("%Y/%m/%d %H:%M:%S")
print(datetime_string)

1993/07/12 22:40:00

In [74]:
datetime_obj = datetime.datetime.strptime(datetime_string, "%Y/%m/%d %H:%M:%S")
print(datetime_obj)
print(type(datetime_obj))

1993-07-12 22:40:00
<class 'datetime.datetime'>

In [76]:
# Add 1 day to a date
print(date_obj)
new_date = date_obj + datetime.timedelta(days=1)
print(new_date)
print('--------------')

# Subtract 2 hours from a datetime
print(datetime_obj)
new_datetime = datetime_obj - datetime.timedelta(hours=2)
print(new_datetime)

1993-07-12
1993-07-13
--------------
1993-07-12 22:40:00
1993-07-12 20:40:00

In [78]:
current_datetime = datetime.datetime.today()
datetime_obj = datetime.datetime(2023, 9, 14, 12, 0, 0)
datetime_str = datetime_obj.strftime("%a, %d/%m/%Y, %H:%M:%S")

if datetime_obj < current_datetime:
    message = f"We have already passed {datetime_str}"
else:
    message = f"We not yet passed {datetime_str}"
print(message)

We have already passed Thu, 14/09/2023, 12:00:00

#### Working with timezones

In [79]:
import datetime
import pytz

# Create a datetime object representing a specific date and time in UTC
utc_datetime = datetime.datetime(2023, 9, 14, 12, 0, 0, tzinfo=pytz.UTC)

# Display the UTC datetime
print("UTC Datetime:", utc_datetime)

# Convert the UTC datetime to a specific time zone (e.g., 'US/Eastern')
eastern_timezone = pytz.timezone('US/Eastern')
eastern_datetime = utc_datetime.astimezone(eastern_timezone)

# Display the datetime in the 'US/Eastern' time zone
print("Eastern Time Datetime:", eastern_datetime)

# Get the current time in a specific time zone (e.g., 'Europe/Berlin')
berlin_timezone = pytz.timezone('Europe/Berlin')
current_time_berlin = datetime.datetime.now(berlin_timezone)

# Display the current time in the 'Europe/Berlin' time zone
print("Current Time in Berlin:", current_time_berlin)

UTC Datetime: 2023-09-14 12:00:00+00:00
Eastern Time Datetime: 2023-09-14 08:00:00-04:00
Current Time in Berlin: 2023-09-14 16:09:46.268165+02:00

## Type conversions

In [82]:
x = 5.7
y = int(x)  # y becomes 5 (integer)
print(y)

5

In [84]:
x = 3
y = float(x)  # y becomes 3.0 (float)
print(y)

3.0

In [87]:
x = 42
y = str(x)  # y becomes "42" (string)
print(y, type(y))

42 <class 'str'>

In [88]:
x = 5
y = 2.5
result = x + y  
print(result)
# x is implicitly converted to float, result is 7.5

7.5

In [91]:
print(bool(-1))

True

In [92]:
list_obj = [1, 2, 3]

while list_obj:
    removed_elem = list_obj.pop()
    print(removed_elem)

3
2
1

In [94]:
x = 10
y = 5.0
if x > y:
    print("x is greater than y")
else:
    print("y is greater than or equal to x")

x is greater than y

In [95]:
age = 30
age_input = input("Enter your age: ")
if age == age_input:
    print("You entered your age correctly.")
else:
    print("Your input does not match your age.")

Enter your age: 30
Your input does not match your age.

In [97]:
age = 30
age_input = int(input("Enter your age: "))
if age == age_input:
    print("You entered your age correctly.")
else:
    print("Your input does not match your age.")

Enter your age: 30
You entered your age correctly.

In [100]:
x = 0
try:
   	y = 1 / x
except:
    print(f"can't perform y = 1/x as x={x}")

can't perform y = 1/x as x=0

In [101]:
x = 0
try:
    y = 1 / x
except ZeroDivisionError:
    print(f"Division by zero is not allowed. x={x}")

Division by zero is not allowed. x=0

In [102]:
list(input('a'))

a[1,2,3]

['[', '1', ',', '2', ',', '3', ']']